body {
  font-family: 'Open Sans', sans-serif;
}

.contact-container {
  width: 500px;
  border: 1px solid #000000;
  margin: 16px auto 16px auto;
}

.contact-header {
  background-color: #b8b8b8;
  text-align: center;
  padding: 8px 0 8px 0;
}

h2 {
  margin: 0;
}

.contact-search-input {
  height: 32px;
  display: flex;
}

.contact-search-input input {
  height: 32px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-left: none;
  border-right: none;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
}

.contact-list-item {
  display: flex;
  margin: 4px 0;
}

.contact-list-item:first-of-type {
  display: flex;
  margin-top: 0;
}

.contact-list-item:last-of-type {
  display: flex;
  margin-bottom: 0;
}

.contact-list-item:hover {
  display: flex;
  background-color: #cfcfcf;
  cursor: pointer;
}

.contact-full-name {
  width: calc(100% - 40px - 40px);
  padding-left: 8px;
  align-self: center;
}

.contact-checkbox {
  display: flex;
  justify-content: center;
  width: 32px;
  align-items: center;
  height: 32px;
}

.contact-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.contact-avatar img {
  width: 32px;
  height: 32px;
}

.contact-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.contact-pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 0 8px;
  height: 32px;
  width: 32px;
}

.contact-pagination-page-switch {
  height: 32px;
  width: 32px;
  align-self: center;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #000000;
  cursor: pointer;
}

.contact-pagination-page-switch:hover {
  background-color: #000000;
  color: #ffffff;
}

.contact-send {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-send button {
  height: 32px;
}

.contact-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
